.modal-content .modal-danger-confirm {
    padding: 20px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
}
.modal-danger-confirm .modal-header {
    background-color: #e85e6c;
    border-bottom: none;
    position: relative;
    text-align: center;
    margin: -20px -20px 0;
    border-radius: 5px 5px 0 0;
    padding: 35px;
}

.modal-danger-confirm .icon-box {
    color: #fff;
    width: 95px;
    height: 95px;
    display: inline-block;
    border-radius: 50%;
    z-index: 9;
    border: 5px solid #fff;
    padding: 15px;
    text-align: center;
}

.modal-danger-confirm .icon-box i {
    font-size: 64px;
    margin-top: -16px;
}