#sidebar-navigation .navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.7);
}

#sidebar-navigation .navbar-light .navbar-nav .nav-link.active,
#sidebar-navigation .navbar-light .navbar-nav .nav-link:hover {
    color: #0dcaf0;
}

#sidebar-navigation{
    position: fixed;
    top: 0;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    
    transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
}